<a href="https://colab.research.google.com/github/NeilSalino/OOP-58001/blob/main/Fundamentals%20Of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Identation

In [27]:
if 5>2:
  print("Five is greater thant two!")

Five is greater thant two!

Python Comment

In [26]:
#This is a comment
print("Hello world!")

Hello world!

Python Variable

In [8]:
#Single variable with single value
x = 1

#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variables with single value
a= b = c= "shuk"
print (a)
print (b)
print (c)

[1, 2, 3]
shuk
shuk
shuk

Casting

In [7]:
n = int (4)
print (n)

4

Type of function

In [6]:
c = "sally"
d = 5.6
print (type (c))
print (type (d))

<class 'str'>
<class 'float'>

Case Sensitive

In [5]:
a = 4
A = "Sally"
print (A)

Sally

Multiple Variables

In [9]:
x,y,z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [10]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output variables

In [28]:
x = "enjoying"
print("Python Programming is " + x)

Python Programming is enjoying

Arithmetic Operations

In [19]:
x = 5
y = 3
sum=x+y
sum

8

Assignment Operators

In [23]:
a,b,c=0,-1,6  
c%=3
c

0

Logical Operators

In [24]:
a,b,c=0,-1,6
a>b and c>b
True

True

Identity Operators

In [25]:
a,b,c=0,-1,5
a is c 
False

False