<a href="https://colab.research.google.com/github/NeilSalino/OOP-58001/blob/main/Fundamentals%20Of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Identation

In [2]:
if 5>2:
  print("Five is greater thant two!")

Five is greater thant two!

Python Comment

In [1]:
#This is a comment
print("Hello world!")

Hello world!

Python Variable

In [5]:
#Single variable with single value
x = 1

#Single variable with multiple values
array = [1,2,3]
print (array)

#Multiple variables with single value
a= b = c= "shuk"
print (a)
print (b)
print (c)

[1, 2, 3]
shuk
shuk
shuk

Casting

In [6]:
n = int (4)
print (n)

4

Type of function

In [9]:
c = "sally"
d = 5.6
print (type (c))
print (type (d))

<class 'str'>
<class 'float'>