<a href="https://colab.research.google.com/github/NeilSalino/OOP-58001/blob/main/List_tuple_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [1]:
def remainder(n,m):
  while True:
    if n-m< 0:
      return n
    else:
      n = n - m
  remainder(10,4)

In [12]:
class Shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self. length * self.width
rectangle = Shapes(10,5)
rectangle.area()

50

In [14]:
pow (10,2)
array = ["apple","banana","orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

In [17]:
class Shapes:
  def __init__(self,side):
    self.side = side
  def arearec(self):
    return self. length * self.width
  def areasqr(self):
    return self.side**2
square =  Shapes(5)
rectangle.area()
square.areasqr()

25

In [27]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def nameage(self):
    return self.name + self.age
nameage = Person ("Neil Salino"," 18")
nameage.nameage()

'Neil Salino 18'

List

In [30]:
pi = 3.14159
varList = ['abc', 1,'def',2]
print(varList[0])

varList.append('ghi')
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [31]:
students = {
    1 : "anna",
    2 : "billy",
    3 : "maria",
    4 : "joy"
}
print(students)

{1: 'anna', 2: 'billy', 3: 'maria', 4: 'joy'}