<a href="https://colab.research.google.com/github/NeilSalino/OOP-58001/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [10]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in days:
  print (x)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

Break Statement

In [12]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in days:
  print (x)

  if x == "Thursday":
    break 
  print (x)

Monday
Monday
Tuesday
Tuesday
Wednesday
Wednesday
Thursday

In [14]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in days:
  

  if x == "Thursday":
    print (x)
    break

Thursday

In [15]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in days:
  

  if x == "Thursday":
    break 
  print (x)

Monday
Tuesday
Wednesday

In [22]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in days:
  

  if x == "Tuesday" or x== "Wednesday":
    print (x)

Tuesday
Wednesday

Looping through a string

In [26]:
for x in "zszszszszszs":
  print(x)

z
s
z
s
z
s
z
s
z
s
z
s

Nested Loops

In [39]:
qqwx = ["90210", "big","tasty"]
uush = ["11122333","banana","cherry"]

for x in qqwx:
  for y in uush:
    print(x,y)

90210 11122333
90210 banana
90210 cherry
big 11122333
big banana
big cherry
tasty 11122333
tasty banana
tasty cherry

While loop

In [54]:
i = 1
while i <=6:
  print(i)
  i += 1

1
2
3
4
5
6

In [60]:
i = 1
while i <6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [64]:
i = 1
while i <6:
  if i == 3:
    print(i)
    break
  i += 1

3

In [66]:
i = 1 
while i <6:
  print (i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [78]:
i = 1
while i <=10:
  print("Hello " + str(i))

  i += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [80]:
i = 3
while i <10:
  print(i)
  i += 1

3
4
5
6
7
8
9